In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../dataset/mu_transfers.csv')
df.head()

,player_name,position,transfer_type,fee_type,fee_million_gbp,net_value_gbp,club,transfer_window,season
0,Leny Yoro,CB,In,Paid,52.0,-52.0,Lille,Summer,2024-25
1,Manuel Ugarte,DM,In,Paid,51.0,-51.0,PSG,Summer,2024-25
2,Matthijs de Ligt,CB,In,Paid,45.0,-45.0,Bayern Munich,Summer,2024-25
3,Joshua Zirkzee,ST,In,Paid,36.0,-36.0,Bologna,Summer,2024-25
4,Noussair Mazraoui,RB,In,Paid,15.0,-15.0,Bayern Munich,Summer,2024-25

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      33 non-null     str
 1   position         33 non-null     str
 2   transfer_type    33 non-null     str
 3   fee_type         33 non-null     str
 4   fee_million_gbp  25 non-null     float64
 5   net_value_gbp    25 non-null     float64
 6   club             33 non-null     str
 7   transfer_window  33 non-null     str
 8   season           33 non-null     str
dtypes: float64(2), str(7)
memory usage: 2.4 KB

In [4]:
df_na = df.isna().sum()
presentage = df_na / len(df) * 100
presentage

player_name         0.000000
position            0.000000
transfer_type       0.000000
fee_type            0.000000
fee_million_gbp    24.242424
net_value_gbp      24.242424
club                0.000000
transfer_window     0.000000
season              0.000000
dtype: float64

In [5]:
df.fillna(0,inplace=True)
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      33 non-null     str
 1   position         33 non-null     str
 2   transfer_type    33 non-null     str
 3   fee_type         33 non-null     str
 4   fee_million_gbp  33 non-null     float64
 5   net_value_gbp    33 non-null     float64
 6   club             33 non-null     str
 7   transfer_window  33 non-null     str
 8   season           33 non-null     str
dtypes: float64(2), str(7)
memory usage: 2.4 KB

In [6]:
save = df.to_csv('../dataset/mu_transfers_clean.csv',index=False)
save

In [7]:
df = pd.read_csv('../dataset/mu_matches.csv')
df

,date,season,opponent,home_away,goals_for,goals_against,result,points,goal_diff,clean_sheet,cumulative_points,matchweek,month,year,month_year
0,2024-08-16,2024-25,Fulham,H,1,0,W,3,1,1,3,1,8,2024,2024-08
1,2024-08-24,2024-25,Brighton,A,1,2,L,0,-1,0,3,2,8,2024,2024-08
2,2024-09-01,2024-25,Liverpool,H,0,3,L,0,-3,0,3,3,9,2024,2024-09
3,2024-09-14,2024-25,Southampton,A,3,0,W,3,3,1,6,4,9,2024,2024-09
4,2024-09-21,2024-25,Crystal Palace,A,0,0,D,1,0,1,7,5,9,2024,2024-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2026-01-25,2025-26,Arsenal,A,3,2,W,3,1,0,38,23,1,2026,2026-01
61,2026-02-01,2025-26,Fulham,H,3,2,W,3,1,0,41,24,2,2026,2026-02
62,2026-02-07,2025-26,Tottenham,H,2,0,W,3,2,1,44,25,2,2026,2026-02
63,2026-02-10,2025-26,West Ham,A,1,1,D,1,0,0,45,26,2,2026,2026-02
64,2026-02-23,2025-26,Everton,A,1,0,W,3,1,1,48,27,2,2026,2026-02

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               65 non-null     str
 1   season             65 non-null     str
 2   opponent           65 non-null     str
 3   home_away          65 non-null     str
 4   goals_for          65 non-null     int64
 5   goals_against      65 non-null     int64
 6   result             65 non-null     str
 7   points             65 non-null     int64
 8   goal_diff          65 non-null     int64
 9   clean_sheet        65 non-null     int64
 10  cumulative_points  65 non-null     int64
 11  matchweek          65 non-null     int64
 12  month              65 non-null     int64
 13  year               65 non-null     int64
 14  month_year         65 non-null     str
dtypes: int64(9), str(6)
memory usage: 7.7 KB

In [9]:
df.drop(columns=['year','month_year'],inplace=True)

In [10]:
df.head()

,date,season,opponent,home_away,goals_for,goals_against,result,points,goal_diff,clean_sheet,cumulative_points,matchweek,month
0,2024-08-16,2024-25,Fulham,H,1,0,W,3,1,1,3,1,8
1,2024-08-24,2024-25,Brighton,A,1,2,L,0,-1,0,3,2,8
2,2024-09-01,2024-25,Liverpool,H,0,3,L,0,-3,0,3,3,9
3,2024-09-14,2024-25,Southampton,A,3,0,W,3,3,1,6,4,9
4,2024-09-21,2024-25,Crystal Palace,A,0,0,D,1,0,1,7,5,9

In [11]:
df['home_away'] = df['home_away'].replace(['H','A'],['Home','Away'],inplace=True)

C:\Users\kahli\AppData\Local\Temp\ipykernel_5876\1797503490.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['home_away'] = df['home_away'].replace(['H','A'],['Home','Away'],inplace=True)

In [12]:
df

,date,season,opponent,home_away,goals_for,goals_against,result,points,goal_diff,clean_sheet,cumulative_points,matchweek,month
0,2024-08-16,2024-25,Fulham,Home,1,0,W,3,1,1,3,1,8
1,2024-08-24,2024-25,Brighton,Away,1,2,L,0,-1,0,3,2,8
2,2024-09-01,2024-25,Liverpool,Home,0,3,L,0,-3,0,3,3,9
3,2024-09-14,2024-25,Southampton,Away,3,0,W,3,3,1,6,4,9
4,2024-09-21,2024-25,Crystal Palace,Away,0,0,D,1,0,1,7,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2026-01-25,2025-26,Arsenal,Away,3,2,W,3,1,0,38,23,1
61,2026-02-01,2025-26,Fulham,Home,3,2,W,3,1,0,41,24,2
62,2026-02-07,2025-26,Tottenham,Home,2,0,W,3,2,1,44,25,2
63,2026-02-10,2025-26,West Ham,Away,1,1,D,1,0,0,45,26,2
64,2026-02-23,2025-26,Everton,Away,1,0,W,3,1,1,48,27,2

In [13]:
save = df.to_csv('../dataset/mu_matches_clean.csv',index=False)
save